<nav class="bg-blue-500 py-4">
  <div class="container mx-auto px-3 flex justify-between items-center">
    <div>
      <%= link_to root_path do %>
        <i class="fas fa-arrow-left text-white"></i>
      <% end %>
    </div>

    <!-- Centered page heading -->
    <div class="text-center text-white text-2xl font-semibold">
      Sign up
    </div>

    <div>
      <a href="#" class="text-white font-semibold" onclick="document.getElementById('signin-form').submit();">Next</a>
    </div>
  </div>
</nav>

<div class="container mx-auto mt-6">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "your-form-class p-2", id: "signin-form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4 mt-4">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name" %>
    </div>

    <div class="mb-4">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address" %>
    </div>

    <div class="mb-4">
      <%= f.password_field :password, autocomplete: "new-password", class: "border border-black p-2 w-full", placeholder: "Password" %>
    </div>

    <div class="mb-4">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border border-black p-2 w-full", placeholder: "Confirm Password" %>
    </div>
    
    <%= f.submit "Submit", class: "hidden-button" %>
  <% end %>

</div>
