<div id="<%= dom_id group %>" class="border p-4 mb-4 cursor-pointer bg-white" onclick="window.location.href='<%= group_path(group) %>';">
  <div class="flex items-center mb-2">
    <div class="mr-2">
      <img src="<%= group.icon %>" alt="Group Icon" class="w-8 h-8 rounded-full">
    </div>
    <div>
      <p class="text-lg font-semibold"><%= group.name %></p>
      
    </div>
    <div class="ml-auto">
      <p>Total Amount: <%= @group_amounts[group.id] %> $</p>
    </div>
  </div>
</div>
