<nav class="bg-blue-500 py-4">
  <div class="container mx-auto px-3 flex justify-between items-center">
    <!-- Toggle button (on the left corner) -->
    <div>
      <%= link_to root_path do %>
        <i class="fas fa-arrow-left text-white"></i>
      <% end %>
    </div>

    <!-- Centered page heading -->
    <div class="text-center text-white text-2xl font-semibold">
      Log in
    </div>

    <!-- Logout button on the right corner -->
    <div>
      <a href="#" class="text-white font-semibold" onclick="document.getElementById('login-form').submit();">Login</a>
    </div>
  </div>
</nav>

<div class="container mx-auto mt-7">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "your-form-class p-2", id: "login-form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address" %>
    </div>

    <div class="mb-4">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
    </div>

    <%= f.submit "Log in", class: "hidden-button" %>
  <% end %>

  <div class="p-2 text-center">
   <% if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
  <% end %>
  </div>
</div>

